.page-container {
    display: flex;
    padding: 20px;
}

.bg-container {
    height: 95svh;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-size: cover;
}

.title-text {
    display: flex;
    padding-block: 15svh;
    padding-inline: 15vw;
    flex-direction: column;
}

.protest {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
}

.unused-class {
    display: flex;
}


#id-selector1 {
    font-size: x-large;
}

#id-selector2 {
    font-size: x-large;
}


@media screen and (max-width: 666px) {
    .page-container {
        font-size: 50px;
        line-height: 45px;
    }
    .bg-container {
        font-size: 20px;
        line-height: 23px;
    }
    #id-selector1 {
        width: 300px;
    }
}


html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}