{% extends "_layout.html" %}

{% block title %}
    LyricLore: {{ username }}
{% endblock %}

{% block main %}
    <div class="login-register-container" style="padding-top: 4svh;">
        <div class="centered-div">
            <span class="text-bg-box-purple">Coming in V1.2</span>
            <span class="change-text-color">AI designed specifically around Lyric generation.</span>
        </div>

        <div class="account-page-container centered-div stack-columns">
            <img class="large-logo" src="/static/images/default-user.png" alt="Lyrica transparent logo">
            <span class="ultra-lg-text protest">HELLO, {{ username }}</span>
            <span class="lg-text">We're just getting started! More features will be added to your account page soon.</span>

            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/my_account/change_country" class="btn btn-primary green-button" type="button">Select new country</a>
                <a href="/my_account/username" class="btn btn-outline-light" type="button">Edit username</a>
                <a href="/my_account/password" type="button" class="btn btn-outline-light" style="max-width: 500px;">Change password</a>
            </div>
        </div>
    </div>
{% endblock %}