:root {
    --primary-color: #9ef789;
    --secondary: #80c662;
    --white: #efefef;
    --purple: #7776bc;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: rgb(46, 46, 46);
    font-weight: 500;
    font-family: 'Cabin', sans-serif;
}

.protest {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0px;
}

.jah-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.secondary-color {
    color: var(--secondary);
}

header {
    background-color: transparent;
    box-shadow: 0px 1px 0px black;
}

header::after {
    content: '';
    display: table;
    clear: both;
    font-weight: 500;
}

.page-container {
    padding: 40px;
    padding-top: 10px;
    overflow: hidden;
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-block: 0;
    padding-left: 0px;
    padding-right: 5svw;
}

.sidebar {
    z-index: 999;
    width: auto;
    height: auto;
    padding: 20px 15px;
    text-align: right;
    background-color: rgb(46, 46, 46, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
}


nav li {
    padding: 0px 4svw;
}

nav li:first-child {
    margin-right: auto;
    padding-left: 20px;
}


nav a {
    color: #efefef;
    text-decoration: none;
    padding: 3px;
}


nav a:hover {
    color: #9ef789;
}

nav svg {
    fill: var(--white);
    float: right;

    transition: transform 0.3s;
}

nav svg:hover {
    fill: #81ea6a;
    transform: scale(1.2);
}

.sidebar li {
    width: 100%;
}


hr {
    color: #efefef;
}

span {
    display: block;
}

.centre-lyric-text {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #efefef;
}

.align-text-left {
    text-align: left;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#efefef;
    text-align: center;
}

.ultra-lg-text {
    color: #efefef;
    font-size: 8svw;
    line-height: 8svw;
    padding: 22px;
}

.lg-text {
    color: #b3b3b3;
    font-size: 2svw;
    line-height: 2svw;
    padding: 22px;
    padding-top: 0px;
}


.lyric-page-title-offset {
    transform: translateX(40px);
}


.container-cstm {
    margin: 0 auto;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 10px 5svw;
    
    transition: transform 0.3s;
}

.logo:hover {
    max-width: px;
    transform: scale(120%);
}

.fitted-genre-card {
    width: auto;
    max-width: 450px;
    min-width: 400px;
    height: auto;
    padding-bottom: 10px;
    padding-inline: 50px;
    padding-top: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin: 5px;
}


#small-card-color {
    height: 188px;
}

#large-card-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 400px;
    object-fit: cover;
    border: none;
    box-shadow: 0 4px 12px 0 rgb(61, 61, 61);
}

.green-button {
    background-color: #9ef789 !important;
    border: 0px solid #9ef789;
    color: black !important;
    border-radius: 5px;
    font-weight: 500;
    transition: transform 0.3s;
    max-width: 500px;
}


.green-2nd-button {
    background-color: var(--secondary) !important;
    border: 0px solid var(--secondary);
    color: black !important;
    border-radius: 5px;
    font-weight: 500;
    transition: transform 0.3s;
    margin-bottom: 12px;
    max-width: 500px;
}

.tp-bg {
    background-color: transparent;
    border: none;
    scale: 0.25;
    transition: transform, 0.3s;
}

.hype-buttons-grid {
    display: grid;
    grid-template-columns: 40px 40px;
    float: right;
    transform: translateY(-20px);
}

.tp-bg:hover {
    transform: scale(1.3);
}

.green-button:hover {
    background-color: #81ea6a;
    border-color: #81ea6a;
    color: black;
    transform: translateY(-4px);
}


.dropdown-item:active {
    background-color: #c3ffb6;
    color: black;
}

.country-dd {
    list-style-type: none; 
    padding: 0px; 
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
}

.dd-button {
    width: fit-content;
    color: var(--white);
    padding: 3px 6px;
    margin: 5px;
    border: 1px solid var(--white);
    background-color: transparent;
    border-radius: 5px;
    transition: transform 0.3s;
}

.dd-button:hover {
    transform: scale(1.1);
}

.dd_button:active {
    transform: scale(1.1);
    border-radius: 10px;
}

#container-left {
    float: left;
    margin: 0 auto;
    min-height: 50px;
    padding-bottom: 25px;
    padding-top: 22px;
    background-color: #9ef789;
}

.bubble {
    border-radius: 8px;
    border: none;
    width: 90vw;
    max-width: 650px;
    max-height: 280px;
    box-shadow: 10px 10px 30px rgb(58, 58, 58);
}

.card-img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.container-right {
    float: right;
    margin: 0 auto;
    min-height: 400px;
}

.lyrics-box {
    padding-top: 500px;
    margin: 0 auto;
    color: #efefef;
}

.minimise-border {
    margin: 0px;
    padding-bottom: 5px;
}

.thumbnail-text {
    max-width: 640px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(640px, 2fr));
    grid-gap: 1em;
    margin: 15px;
}

.item {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-block: 15px;
}


.infotext {
    display: flex;
    flex-direction: column;
    font-weight: 100;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #efefef;
    line-height: 0%;
    padding: 1%;
}


.purple-button {
    background-color: rgb(119, 118, 188);
    border: rgb(119, 118, 188);
    color: #efefef;
    box-shadow: 0 2px 4px 0 rgb(58, 58, 58);
    margin: 12px;
}

.purple-button:hover {
    background-color: rgb(119, 118, 188);
    border: rgb(119, 118, 188);
}


.hypetext {
    font-weight: 100;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #efefef;
    padding-bottom: 5px;
    padding-top: 1px;
    transition: transform 0.2s;
}

.artist-text {
    font-size: 18px;
    font-style: italic;
    line-height: 1;
    color: #efefef;
}

.song-text {
    margin-bottom: 0rem;
    line-height: 1;
    font-weight: 500;
    padding: 2px;
    font-size: 40px;
    color: #9ef789;
}

.hypetext:hover {
    transform: scale(1.1);
}


.title-grid {
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-columns: 1fr 0px;
    justify-content: center;
    
}

#item1 {
    grid-row: 1;
    grid-column: 1;
}

#item2 {
    grid-row: 1;
    grid-column: 2;
}

#slide-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    object-fit: cover;
    height: 250px;
    width: 100px;
}


.grid-col-span-4 {
    grid-column: span 4;
}

.small-card {
    box-shadow: 0 4px 12px 0 rgb(61, 61, 61);
}

.fade-out-text {
    overflow: hidden;
}

.small {
    font-size: 10px;
}

.large-logo {
    transition: transform 0.3s;
    margin-block: 30px;
    max-width: 200px;
}

.large-logo:hover {
    transform:  scale(1.2);
}

.change-text-color {
    color: #727272;
}

.text-bg-box-purple {
    background-color: var(--purple);
    height: 30px;
    width: 120px;
    border-radius: 5px;
    margin: 12px;
    padding-top: 2px;
}

.account-page-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-width: 320px;
    max-width: 1500px;
}

.green-button.btn-primary:active {
    background-color: #81ea6a !important;
    color: black !important;
}


.bg-container {
    height: 95svh;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-image: url(images/metro.jpg);
    background-size: cover;
}

.center-align {
    text-align: center;
}

.events-pg-image {
    height: 95svh;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-image: url(images/drake.png);
    background-size: cover;
}

.title-text-container {
    display: flex;
    padding-block: 15svh;
    padding-inline: 15vw;
    flex-direction: column;
}


.title-text-container h1 {
    color: var(--primary-color);
    line-height: 0.9;
    font-size: 19vw;
}

.title-text-container h2 {
    color: var(--white);
    font-size: 18px;
    margin: 0px;
    padding-inline-start: 5px;
}

.title-text-container h3 {
    color: var(--white);
    font-size: 13px;
    padding-block: 20px;
    padding-inline-start: 5px;
}

h4 {
    font-size: 13px;
    color: #c4c4c4;
}


.card-style {
    backdrop-filter: blur(4px);
    width: 17rem;
    height: 26rem;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.15) !important;
}

.pad-items {
    padding: 10px;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: auto;
    width: 6rem;
    padding-top: 40px;
    padding-bottom: 30px;
    filter: invert(100%)
}

.linked-text:visited {
    color: #efefef;
}

.linked-text:hover {
    color: #efefef;
}

.linked-text {
    color: #efefef;
}

@media screen and (max-width: 350px) {
    .title-text-container h1 {
        font-size: 30vw;
    }
    .thumbnail-text {
        font-size: 5vw;
    }
}

@media screen and (max-width: 666px) {
    .ultra-lg-text {
        font-size: 50px;
        line-height: 45px;
    }
    .lg-text {
        font-size: 20px;
        line-height: 23px;
    }
    .cstm-card {
        width: 300px;
    }
}


@media screen and (min-width: 350px) and (max-width: 666px) {
    .title-text-container h1 {
        font-size: 90px;
    }
    .bg-container {
        background-image: url(images/metro\ -\ Copy.jpg);
    }
}

@media screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .hide-on-desktop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .title-text-container h1 {
        font-size: 245px;
    }
    .ultra-lg-text {
        font-size: 100px;
        line-height: 90px;
    }
    .lg-text {
        font-size: 26px;
        line-height: 30px;
    }
}


.arrow {
    filter: invert(100%);
    transform: scale(0.25);
    position: absolute;
    bottom: -115px;
    z-index: 1;
}

.arrow-text {
    position: absolute;
    bottom: 38px;
    z-index: 1;
}

.feedback-box-cstm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: auto;
}

.feedback-box-cstm textarea {
    width: 60vw;
    max-width: 500px;
}

.add-padding {
    padding-bottom: 5px;
}


.text-white {
    color: var(--white);
}

.dd-menu-scroll {
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
}

.cstm-card {
    justify-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    height: auto;
    padding: 15px;
    margin-top: 15px;
    width: 400px;
}

.btn-lg-custom {
    font-size: 30px;
    width: 300px;
    height: 80px;
    margin: 12px;
}

.btn-sm-custom {
    font-size: 16px;
    font-weight: 500;
    padding-inline: 15px;
    padding-block: 5px;
}

.login-register-container {
    padding: 15svh;
    padding-inline: 15vw;
    height: 95svh;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    background-image: url(/static/images/page-bg.png);
    background-size: cover;
    align-items: center;
}

.input-field {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 5px;
    color: var(--white);
    width: 100%;
    max-width: 50svh;
    border-color: transparent;
    padding: 10px;
}

.search-button {
    background-color: #9ef789 !important;
    border: 0px solid #9ef789;
    color: black !important;
    border-radius: 1px;
    margin: 5px;
    font-weight: 500;
    transition: transform 0.3s;
    width: auto;
    transition: transform 0.3s; 
}


.search-button:hover {
    transform: scale(1.1);
}

.search-button {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    height: 40px;
    margin-block: 8px;
}

.error-text {
    color: #ff5252;
    font-size: 14px;
}

.error-text:visited {
    color: #ff5252;
}

.login-register-card {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-inline: 15px;
    padding-bottom: 15px;
    width: 50svw;
    min-width: 350px;
    max-width: 550px;
}

.shorter-title-text {
    color: var(--primary-color);
    text-align: center;
    font-size: 60px;
    padding: 15px;
    border-radius: 20px;
}

.longer-title-text {
    color: var(--primary-color);
    text-align: center;
    font-size: 50px;
    padding: 15px;
    border-radius: 20px;
    margin: 0px;
}

.shorter-title-text::after {
    content: '';
    position: absolute;
    background: var(--secondary);
    width: 20%;
    height: 2%;
    bottom: -3px;
    border-radius: 5%;
    opacity: 1;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%); 
    top: 85px;
}

.login-register-card form {
    width: 25svw;
    max-width: 420px;
    min-width: 250px;
}

.symbol-button {
    background-color: transparent;
    outline-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    transition: transform 0.2s;
    float: right;
}

.symbol-button:hover {
    transform: scale(1.1);
}

.align-with-symbol {
    padding-top: 10px;
}

.location-padding {
    padding-block: 6px;
}


.songs-dd {
    margin: 0;
    padding: 0;
    border: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 410px;
    min-width: 240px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.song-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #a1a1a1;
    margin-inline: 0;
    transition: transform 0.3s;
}

.song-item:hover {
    transform: scale(1.1);
}

.song-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.song-img {
    padding: 2px;
    margin-right: 10px;
    max-width: 50px;
}

.song-title {
    color: var(--white);
    font-size: 15px;
    margin: 0;
}

.song-artist {
    color: #a1a1a1;
    font-size: 10px;
    margin: 1px;
}
